<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Consulting</h4>
                    <p class="text-muted">
                        <ul style="text-align:left;font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;">
                            <li>Requirement Gatehring and Detailed Analysis</li>
                            <li>Containerized Environments using Kubernetes</li>
                            <li>Hybrid Cloud Environment Support</li>
                            <li>Automated Disaster Recovery Implementation using Cloud Native Services</li>
                            <li>Infrastructure Provisioning using Templates</li>
                            <li>Event Driven and Serverless Design</li>
                            <li>Continuous Maintenance and Support</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check-circle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DevOps Enablement</h4>
                    <p class="text-muted">
                        <ul style="text-align:left;font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;">
                            <li>Kubernetes on AWS</li>
                            <li>Infrastructure Pipeline on AWS</li>
                            <li>Azure DevOps build and release pipelines</li>
                            <li>Build Templates using AWS CDK</li>
                            <li>Infrastructure as Code using CloudFormation and Terraform</li>
                            <li>Expertise in Jenkins and TeamCity</li>
                            <li>Static Code Analysis using SonarQube</li>
                            <li>Build and Release pipelines for EKS</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Security</h4>
                    <p class="text-muted">
                        <ul style="text-align:left;font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;">
                            <li>Grant Access using Completely Automated Process</li>
                            <li>Auto Mitigation of Security Threats</li>
                            <li>Detect Drifts and Automatically Revert Manual Changes</li>
                            <li>Multiple Cloud Accounts Based On Best Practices</li>
                            <li>Highly Scalable and Secure Environments</li>
                            <li>Setup Redundant Firewalls in Cloud</li>
                            <li>Centralized Logging and Monitoring Solutions</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>